services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: recordstore
      POSTGRES_USER: recordstore
      POSTGRES_PASSWORD: recordstore
    # ports:
    #   - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./RecordStore
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/recordstore
      SPRING_DATASOURCE_USERNAME: recordstore
      SPRING_DATASOURCE_PASSWORD: recordstore

  frontend:
    build:
      context: ./RecordStore-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata:
